div.button-manage{
    width: 140px;
    height: 40px;
    line-height: 40px;
    background-color: #FF961E;
    border-radius: 5px;
    margin-top: 58px;
    margin-left: 30px;
    color: white;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dfdfdf;
} 
div.classItem-con:hover{
    background-color: #F1FBF1;
}
div.tutor-offer{
    width: 400px;
    height: 68px;
    /* overflow: auto; */
}
div.img-profile{
    width: 20%;
    height: 100%;
    background: url('../../images/anhdaidien.png') center center;
    background-size: cover;
    float: left;
    margin-left: 1%;
}
div.info-profile-tutor{
    width: 74%;
    height: 100%;
    margin-left: 10px;
    float: left;
}
div.user-birthday{
    width: 100%;
    height: 49%;
    margin-top: 1%;
}
div.user-dialog{
    width: 57%;
    height: 100%;
    float: left;
}
div.birthday-dialog{
    width: 43%;
    height: 100%;
    float: left;
}
label.dialog-text{
    color: #069D86;
}
div.status-offer2{
    height: 50%;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: #FF961E;
    border:1px solid #069D86;
    margin-top: 20px;
}
label.status-offer2{
    width: 100%;
    height: 100%;
    color: #069D86;
    font-size: 17px;
    padding-top: 20px;
    font-weight: bold;
}
button.button-offer{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    background-color: #069D86;
    color: yellow;
    font-size: 18px;
}
button.button-vote-tutor{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    background-color: #069D86;
    color: yellow;
    font-size: 18px;
    margin-top: 60px;
}
button.button-offer:hover{
    transform: scale(1.05);
}

div.class-offer{
    height: 100%;
    width: 17%;
    float: left;
}
div.fee-offer{
    width: 100%;
    height: 50%;
    overflow: auto;
}
div.button-offer{
    width: 100%;
    height: 50%;
}
div.status-offer{
    height: 80%;
    width: 100%;
    margin: auto;
    background: none;
    background-color: red;
    border-radius: 20px;
}
label.status-offer{
    width: 80%;
    height: 100%;
    color: yellow;
    font-size: 18px;
    padding-top: 20px;
    font-weight: bold;
}
div.status-offer1{
    height: 50%;
    width: 80%;
    margin: auto;
    background: none;
    background-color: #FF961E;
    border-radius: 5px;
    margin-top: 20px;
}
label.status-offer1{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    padding-top: 0px;
    margin-top: 5px;
    font-weight: bold;
}
div.status-offer2{
    height: 50%;
    width: 80%;
    margin: auto;
    background: none;
    background-color: #4267B2;
    border-radius: 5px;
    margin-top: 20px;
}
label.status-offer2{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 18px;
    padding-top: 0px;
    margin-top: 5px;
}
