div.infoMess-con{
    width: 280px;
    height: 200px;
    margin:auto;
    margin-top: 100px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0 rgba(31, 28, 38, 0.35); 
    background-color: #EEEEEE;
}
div.img-info-err{
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    background: url('../../images/er.png') center center no-repeat;
    background-size: cover;
}
div.value-info{
    width: 90%;
    height: 80px;
    margin:auto;
    margin-top: 10px;
}
p.value-info{
    font-size: 20px;
    color: red;
    text-align: center;
}