div.searchList-con{
    width: 100%;
    background-color: #f7f7f7;
    height: 1230px;
    /* max-height: 2000px; */
    overflow: auto;
    padding-top: 80px;
}
div.title-container{
    width: 86%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
}
div.title-container1{
    width: 20%;
    height: 100%;
    float: left;
    background-color: #069D86;
}
p.title-container{
    color: white;
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
div.title-container2{
    width: 80%;
    height: 100%;
    border-bottom: 1px solid #069D86;
    float: left;
    background-color: #f7f7f7;
}
div.select-result-search{
    width: 86%;
    height: 106px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    overflow: auto;
}
div.select-search{
    width: 100%;
    height: 35px;
    margin-top: 10px;
}
select.select-search{
    width: 200px;
    height: 100%;
    float: left;
    margin-left: 14px;
    margin-right: 10px;
}
button.search-title-btn{
    width: 150px;
    height: 100%;
    margin-left: 5px;
    background-color: #069D86;
    border-radius: 5px;
    border: 1px solid #f7f7f7;
    color: white;
}
div.result-search{
    width: 100%;
    height: 40px;
    margin-top: 5px;
}
p.number-search{
    color: red;
    margin-left: 15px;
    float: left;
    margin-top: 5px;
    font-size: 18px;
}
div.result-container{
    width: 86%;
    height: 600px;
    margin: auto;
    margin-top: 10px;
}
/* div.row{
    width: 100%;
} */
div.row1{
    margin-top: 10px;
}
div.rank-page{
    width: 100%;
    height: 60px;
    /* background-color: yellow; */
    margin-top: 20px;
    overflow: auto;
}
div.rank-page ul{
    margin-left: 420px !important;
    margin-top: 15px !important;
}
div.rank-page ul li{
    border: 1px solid blue !important;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    line-height: 30px !important;
}
div.page-number{
    width: 250px;
    height: 30px;
    margin: auto;
    margin-top: 15px;
}
div.item-page{
    width: 30px;
    height: 30px;
    float: left;
    margin: auto;
    border: 1px solid #069D86;
    
}
div.item-page:hover{
    background-color: #069D86;
}