div.info-money-contai{
    width: 450px;
    height: 210px;
    margin:auto;
    margin-top: 100px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0 rgba(31, 28, 38, 0.35); 
    background-color: #d1ccc9;
}
div.title-warning{
    width: 100%;
    height: 40px;
    background-color: #F3B417;
}
p.title-dialog-warning{
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: left;
    margin-left: 10px;
}
div.value-dialog-warning{
    width: 90%;
    height: 70px;
    margin: auto;
    margin-top: 20px;
}
div.img-info-warning{
    width: 18%;
    height: 70px;
    float: left;
}
label.img-info-warning{
    font-size: 60px;
    color: #F3B417;
    text-align: center;
    line-height: 70px;
}
div.value-info-warning{
    width: 82%;
    height: 70px;
    float: left;
}
p.value-info-warning{
    font-size: 22px;
    color: black;
    text-align: center;
    margin-top: 10px;
}
div.btn-ok-warning{
    width: 100%;
    height: 30px;
    margin-top: 25px;
}
button.btn-ok-warning{
    width: 15%;
    height: 100%;
    float: right;
    margin-right: 15px;
    border: 1px solid #7C7C7C;
}
button.btn-ok-warning:hover{
    background-color: #2F81D0;
    border: 1px solid white;
    transform: scale(1.05);
    font-weight: bold;
}