
div.listTutor-con{
    width: 90%;
    height: 650px;
    margin: auto;
}
div.list-title{
    margin-top: 20px;
    margin-bottom: 30px;
}
div.list-title h1{
    color: #069d86;
}
@media only screen and (max-width: 320px){
    div.listTutor-con{
        display: none;
    }

}
@media only screen and (min-width:321px) and (max-width:375px){
    div.listTutor-con{
        display: none;
    }

}
@media only screen and (min-width:376px) and (max-width:425px){
    div.listTutor-con{
        width: 72%;
        height: 630px;
        margin: auto;
    }
    div.slide-tutor{
        width: 303px;
        height: 445px;
    }
    div.list-title{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    div.list-title h1{
        color: #069d86;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    div.listTutor-con{
        width: 79%;
        height: 630px;
        margin: auto;
    }
    div.list-title{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    div.list-title h1{
        color: #069d86;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    div.listTutor-con{
        width: 89%;
        height: 630px;
        margin: auto;
    }
    div.list-title{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    div.list-title h1{
        color: #069d86;
    }

}